input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
    border: 1px solid tint( $black, 50% );
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    padding: .5rem .6rem;
    vertical-align: middle;
}