body {
    align-items: center;
    background: $base;
    color: $text;
    display: flex;
    font-family: $code;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    padding: 0 0 3rem;
}

@import './link-list';
@import './navbar';
@import './modal';