body {
    background: $black;
    color: $text;
    font-family: $code;
    margin: 0;
    min-height: 100vh;
}

.app-root {
    display: grid;
    grid-template-rows: 20% 1fr 10%;
    margin: auto;
    max-width: 49rem;
    min-height: 100vh;
}

.sr-only {
    @include sr-only;
}

@import './header';
@import './link-list';
@import './toolbar';
@import './modal';