.modal {
    align-items: center;
    background: $modal-overlay;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;

    .modal-content {
        background: $base;
        max-width: 90%;
        width: 25rem;

        .modal-body {
            max-height: 50vh;
            overflow-y: scroll;
        }
    }

    h1 {
        font-family: $heading;
        text-align: center;
    }

    form {
        margin: 0;

        p {
            font-size: .75rem;
            margin-bottom: .25rem;
        }

        label {
            display: block;
            margin: 0 2rem 1rem;
        }

        input {
            border: 0;
            border-radius: .125rem;
            font-size: 1rem;
            line-height: 1.5rem;
            padding: .25rem;
            width: 100%;
        }
    }

    .form-controls {
        display: flex;
        padding-top: 1rem;

        button {
            background: $base;
            border: 0;
            border-bottom: .2rem solid $base;
            color: $text;
            cursor: pointer;
            font-family: $code;
            font-size: .75rem;
            padding: 1rem 1rem .8rem;
            width: 100%;

            &:hover {
                background: $grey-1;
                border-bottom: .2rem solid $accent;
            }
        }
    }

    .edit-link {
        align-items: center;
        display: flex;
        font-size: .75rem;
        justify-content: space-between;
        margin: 0 2rem 1rem;
        word-break: break-word;

        span {
            display: block;
        }

        .controls {
            display: flex;
            flex-direction: column;

            button {
                background: $base;
                border: 0;
                border-bottom: .2rem solid $base;
                color: $text;
                cursor: pointer;
                font-family: $code;
                font-size: .75rem;
                padding: .5rem .5rem .3rem;
                width: 100%;

                &:hover {
                    background: $grey-1;
                    border-bottom: .2rem solid $accent;
                }
            }
        }
    }
}