.nav-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;

    .clock {
        color: $accent;
        display: flex;
        font-size: 1.25rem;
        font-weight: bold;

        .time-segment {
            color: $text;
        }
    }

    button {
        background: $grey-1;
        border: 0;
        border-radius: .25rem;
        color: $text;
        cursor: pointer;
        font-family: $code;
        margin: 0 .25rem;
        padding: .5rem .75rem;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}