/**
 * Simple little mixin to save time setting up a grid container
 *
 * Be warned, though - each direct child MUST be a grid element, or shit's
 * gon' break, yo
 */

@mixin grid-container {
    align-content: center;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
}

/**
 *
 * Simple little grid item generator
 *
 * @param {number} $item-cols - the number of columns you want your grid item
 * to take up
 * @param {number} $grid-cols - The number of columns you've got in your grid.
 *
 */

@mixin grid( $item-cols, $grid-cols: 6 ) {
    min-width: ( ( $item-cols / $grid-cols ) * 100 ) * 1%;
}